.container {
    height: 100vh; 
    padding: 30px;
    background-color: darkcyan;
  }
  .search-results{
    text-align: center;
  }
.search-input {
    display: flex;
    align-items: center;
    position: relative;
    width: 250px;
  }
  
  .search {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
  }
  
  .toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 20px;
  }

 
.suggestions {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 240px;
    position: absolute;
    /* margin-top: 200px; */
    z-index: 1;
  }
  
  /* Style for each suggestion item */
  .suggestion {
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
  
  }
  
 
  .suggestion:hover {
    background-color: #f5f5f5;
  }
  
  